<script setup lang="ts">
import Modal from '@/Components/Modal.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, useForm } from '@inertiajs/vue3';


const form = useForm({
  csv: null,
  existingData: [], // Ajout de la propriété existingData dans le formulaire
  overwriteMaterials: '', // Nouvelle propriété pour la sélection radio
});


const props = defineProps<{
  materials: any[];
  existing: any[];
  role: any[];
}>();


const openModal = (material: any) => {
  material.showModal = true;
};

const closeModal = (material: any) => {
  material.showModal = false;
};



function importcsv() {
  form.post(route('material.importcsv'), {
    preserveState: false,
    onSuccess: () => {
      form.reset()
    },
  })
}

const confirmEraseMaterials = () => {
  form.existingData = props.existing; // Assigner la prop existing à existingData dans le formulaire
  form.post(route('ecraseMaterial'));
};
</script>

<template>
  <AuthenticatedLayout>
    <Head title="Référentiel matériel" />

    <template v-slot:logo>
      <div class="col1">
        <img src="../../../../public/img/logo_white.png" alt="" class="logoo">

      </div>
    </template>
    <div class="general">
      <div class="titre">
        <h1>Référentiel material</h1>
      </div>
      <div class="btn">
        <form v-if="role.find( r => r.role == 'Chargé de Referentiel')" class="form1" @submit.prevent="importcsv">
          <input type="file" id="csv" @input="form.csv = $event.target.files[0]" />
          <PrimaryButton class="bg-[#e83670]" :disabled="form.processing">Enregistrer le csv</PrimaryButton>
        </form>

        <!-- Confirmer l'écrasement des pièces -->
        <form v-if="props.existing && props.existing.length > 0" @submit.prevent="confirmEraseMaterials"
          enctype="multipart/form-data">
          <!-- Envoyer le tableau de ma props "existing" à mon controller -->
          <input type="hidden" name="existingData" :value="JSON.stringify(form.existingData)">

          <!-- Champ de sélection radio pour la question -->
          <div>
            <label for="overwrite-yes">Oui</label>
            <input type="radio" id="overwrite-yes" name="overwriteMaterials" value="yes"
              v-model="form.overwriteMaterials">

            <label for="overwrite-no">Non</label>
            <input type="radio" id="overwrite-no" name="overwriteMaterials" value="no" v-model="form.overwriteMaterials">
          </div>

          <PrimaryButton :disabled="form.processing">Confirmer l'écrasement des pièces</PrimaryButton>
        </form>
        <div v-if="$page.props.flash.success" class="alert alert-success">

          {{ $page.props.flash.success }}
        </div>

        <div v-if="$page.props.flash.error" class="alert alert-error">

          {{ $page.props.flash.error }}
        </div>
      </div>
      <div class="tableau">
        <div>
          <table>
            <thead>
              <tr>
                <th class="red">Nom du matériel</th>
                <th class="red">Date de creation</th>
                <th class="red">Nom du constructeur</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="m in materials" :key="m.id" @click="openModal(m)">
                <td>
                  {{ m.name }}
                  <Modal @close="closeModal(m)" :show="m.showModal">
                    <div v-for="p in m.piece_materialinverse">
                      Nom de la pièce : {{ p.name }}
                      <br>Statut de la pièce : {{ p.status }}
                    </div>
                    <div v-if="m.piece_materialinverse.length === 0">
                      <p>Il n'y a pas de pièces associées au matériel</p>
                    </div>
                  </Modal>
                </td>
                <td>{{ m.creation_year }}</td>
                <td>{{ m.constructor.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



  </AuthenticatedLayout>
</template> 
<style scoped>

.general {
  padding: 2rem;
}

.titre {
  border: solid 1px #e83670;
  color: #e83670;
  margin: 2rem;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-transform: uppercase;


}

.tableau {
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;

}

.form1 {
  padding: 1%;
}

.alert {
  padding: 10px;
  border-radius: 4px;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-error {
  background-color: #edd4d4;
  border-color: #e6c3c4;
  color: #a80011;
}

table {
  width: 100%;
  border-collapse: collapse;

}

th {
  background-color: #e83670;
  color: white;
  padding: 8px;
  text-align: center;
  font-size: 700;
  text-transform: uppercase;

}

td {
  padding: 8px;
  border: 1px solid #ddd;
}

tr:hover {
  background-color: #e836713c;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 40px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}</style>

<style>
.logoo {
    width: 50%;
}

.text{
  color: #fff;
}

.bg-white {
  background-color: #e83670;
}

.btn {
  background-color: #fff;
}

</style>