<script setup>
import { ref } from 'vue'

const authToken = localStorage.getItem('authToken');

const isMenuOpen = ref(false);

function toggleMenu() {
  isMenuOpen.value = !isMenuOpen.value;
}

function closeMenu() {
  isMenuOpen.value = false;
}
</script>


<template>
  <div class="container">
    <div class="menu">
      <button @click="toggleMenu" class="hamburger-button">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <router-link to="/" class="logo-link">
        <img src="../public/img/logo_white.png" class="logo">
      </router-link>
    </div>
    <nav :class="{ 'show-menu': isMenuOpen }" id="hamburger-menu">

      <router-link class="router" @click="closeMenu" to="/camp">Campagnes</router-link><br>
      <router-link class="router" @click="closeMenu" to="/login">Connexion</router-link>
    </nav>
    <router-view></router-view>
  </div>
</template>

<style scoped>

.menu {
  display: flex;
  align-items: center;
  background-color: #898585;
}

.logo {
  margin-right: 10px;
  /* Add some spacing between the logo and the button */
  width: 70%;
  
}

.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

#hamburger-menu {
  background-color: #a8a7a7;
  position: absolute;
  width: 100vw;
}

.router {
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
  display: flex;
  color: white;
  font-weight: 800;
  font-size: 20px;
  border-top: solid 2px white;
}

.hamburger-button span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #f4f4f4;
  transition: 0.4s;
}

.show-menu {
  display: block;
}

  .hamburger-button {
    display: block;
  }

  nav {
    display: none;
  }

  .show-menu {
    display: block;
  }

</style>
