<script setup lang="ts">
import Modal from '@/Components/Modal.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, useForm } from '@inertiajs/vue3';

const form = useForm({
  csv: null,
  existingData: [], // Ajout de la propriété existingData dans le formulaire
  overwritePieces: "", // Nouvelle propriété pour la sélection radio
});

const props = defineProps<{
  pieces: any[];
  existing: any[];
  role: any[];
}>();

const openModal = (piece: any) => {
  piece.showModal = true;
};

const closeModal = (piece: any) => {
  piece.showModal = false;
};

function importCsv() {
  form.post(route('importcsv'), {
    preserveState: false,
    onSuccess: () => {
      form.reset()
    },
  })
}

const confirmErasePieces = () => {
  form.existingData = props.existing; // Assigner la prop existing à existingData dans le formulaire
  form.post(route('ecrasePiece'));
};

</script>

<template>
  <AuthenticatedLayout>
    <Head title="Référentiel piece" />

    <template v-slot:logo>
      <div class="col1">
        <img src="../../../../public/img/logo_white.png" alt="" class="logoo">

      </div>
    </template>

    <div class="general">

      <div class="titre">
        <div>
          <h1>Référentiel pièces</h1>
        </div>
        <div><img src="/../../public//img/icones/piece_csv.png" alt=""></div>
      </div>
      <div class="btn"> <!-- Importer un CSV -->

        <form v-if="role.find( r => r.role == 'Chargé de Referentiel')" @submit.prevent="importCsv">

          <input type="file" id="csv" @input="form.csv = $event.target.files[0]" />

          <PrimaryButton  class="bg-[#5bc7cc]" :disabled="form.processing">Importer les pièces</PrimaryButton>

        </form>

        <!-- Confirmer l'écrasement des pièces -->
        <form v-if="props.existing && props.existing.length > 0" @submit.prevent="confirmErasePieces">
          <!-- Envoyer le tableau de ma props "existing" à mon controller -->
          <input type="hidden" name="existingData" :value="JSON.stringify(form.existingData)">

          <!-- Champ de sélection radio pour la question -->
          <div>
            <label for="overwrite-yes">Oui</label>
            <input type="radio" id="overwrite-yes" name="overwritePieces" value="yes" v-model="form.overwritePieces">

            <label for="overwrite-no">Non</label>
            <input type="radio" id="overwrite-no" name="overwritePieces" value="no" v-model="form.overwritePieces">
          </div>

          <PrimaryButton :disabled="form.processing">Confirmer l'écrasement des pièces</PrimaryButton>
        </form>
        <div v-show="$page.props.flash.success" class="alert alert-success">

          {{ $page.props.flash.success }}
        </div>

        <div v-if="$page.props.flash.error" class="alert alert-error">

          {{ $page.props.flash.error }}
        </div>
      </div>
      <div class="tableau">
        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Année de création</th>
                <th>ID du matériau</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="p in pieces" :key="p.id" @click="openModal(p)">
                <td> {{ p.name }}</td>
                <td>{{ p.creation_year }}</td>
                <td>{{ p.material_id }}</td>
                <Modal @close="closeModal(p)" :show="p.showModal">
                  {{ p.nom }}
                  {{ p.status_fonctionnel }}
                  {{ p.model.constructeur }}
                </Modal>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>


  </AuthenticatedLayout>
</template>

<style>

.text{
  color: #fff;
}

.logoo {
    width: 50%;
}
.bg-white {
  background-color: #5bc7cc;
}

.btn {
  background-color: #fff;
}

.general {
  padding: 2rem;
}

.titre {
  border: solid 1px #5bc7cc;
  color: #5bc7cc;
  margin: 2rem;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-transform: uppercase;


}

.tableau {
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);


}



.alert {
  padding: 10px;
  border-radius: 4px;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-error {
  background-color: #edd4d4;
  border-color: #e6c3c4;
  color: #a80011;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 13px;


}

th {
  background-color: #5bc7cc;
  color: white;
  padding: 8px;
  text-align: center;
  font-size: 700;
  text-transform: uppercase;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
}

tr:hover {
  cursor: pointer;
  background-color: #5bc6cc54;
}

h1 {
  text-align: center;
  font-size: 40px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;

}
</style>