<template>
 <div class="col1">
            <!-- <img src="../../../public/img/logo_white.png" alt=""> -->
            <slot></slot>
        </div>
</template>
<style scoped>
img {
    width: 50%;
}</style>
