
<script setup>
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

const campaigns = ref([]);
const route = useRoute();
const router = useRouter();

const authToken = localStorage.getItem('authToken'); // Récupérer le token d'authentification depuis le localStorage

const fetchData = async () => {
  try {
    const response = await fetch('https://inspectormzr.alwaysdata.net/api/campaign', {
      method: 'GET',
      credentials: 'include',
      headers: {
        'Accept': 'application/json',
        Authorization: `Bearer ${authToken}`,

      },
    });

    if (response.ok) {
      const data = await response.json();
      campaigns.value = data;
    } else {
      console.error('Failed to fetch data');
    }
  } catch (error) {
    console.error('Request error:', error);
  }
};

fetchData();
</script>


<template>
  <div>
    <h1>Campagnes</h1>
    <ul class="campaign-list">

      <div v-for="campaign in campaigns" :key="campaign.id">
        <router-link class="router" :to="{ name: 'campaign-details', params: { campaignId: campaign.id } }">
          <li>
            {{ campaign.name }} <div class="status">Status: {{ campaign.status }}</div>
          </li>
        </router-link>
      </div>

    </ul>
  </div>
</template>

<style scoped>
h1 {
  font-size: 36px;
  border: solid 1px #898585;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #898585;
}

.campaign-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0 !important;
}

li,
.router {
  list-style: none;
  padding: 1rem;
  background-color: #898585;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 600;
  width: 100vw;

}
</style>
