<template>
  <div>
    <h1>Login</h1>
    <form @submit.prevent="login">
      <div>
        <label for="name">Pseudo : </label>
        <input type="text" id="name" v-model="name" />
      </div>
      <div>
        <label for="password">Mot de passe : </label>
        <input type="password" id="password" v-model="password" />
      </div>
      <button type="submit">Connexion</button>
    </form>
    <p v-if="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
  {{ debug }}


</template>

<script setup lang="ts">
import router from 'src/router';
import { ref } from 'vue'

const name = ref('')
const password = ref('')
const authToken = ref(null)
const errorMessage = ref('')
const debug = ref<any>()

const login = async () => {
  
  try {
    const response = await fetch('https://inspectormzr.alwaysdata.net/api/tokens/create', {
      method: 'POST',
      credentials: 'include',
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json',
      },
      body: JSON.stringify({
        name: name.value,
        password: password.value,
      }),
    })
    
    debug.value = response

    if (response.ok) {
      const data = await response.json();
      authToken.value = data.access_token;

      localStorage.setItem('authToken', data.access_token);
      console.log('Logged in successfully');

      // Rediriger vers /camp après la connexion réussie
      router.push({ path: '/camp'})
    } else {
      // Erreur lors de la connexion
      const errorData = await response.json();
      errorMessage.value = errorData.message;
    }
  } catch (error) {
    // Erreur lors de la requête
    console.error('Request error:', error);
    errorMessage.value = 'An error occurred while logging in.';
  }
}

const fetchData = async () => {
  try {
    const response = await fetch('https://inspectormzr.alwaysdata.net/sanctum/csrf-cookie', {
      method: 'GET',
      headers: {
        'Accept': 'application/json',
      }
    })

    if (response.ok) {
      // Le cookie CSRF a été configuré avec succès
      console.log('CSRF cookie set')
    } else {
      // Une erreur s'est produite lors de la configuration du cookie CSRF
      console.error('Failed to set CSRF cookie')
    }
  } catch (error) {
    // Une erreur s'est produite lors de la requête
    console.error('Request error:', error)
  }
}

fetchData()
</script>

<style>
.error-message {
  color: red;
}
h1 {
  font-size: 36px;
  border: solid 1px #898585;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #898585;
}
form{
  text-align: center;
}
</style>
