<script setup lang="ts">
import { Head, useForm } from '@inertiajs/vue3';
import { ref } from 'vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import Modal from '@/Components/Modal.vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';


const props = defineProps<{
    sites: any[];

}>();

const form = useForm({
    name: null,
    date_start: null,
    date_end: null,
    selectedSite: null,


})

// let showModal = ref(false);


const selectedMaterial = ref(null);
const description = ref(null);
const isEditing = ref(false);

function editDescription() {
    description.value = selectedMaterial.value.description;
    isEditing.value = true;
}

function saveDescription() {
    selectedMaterial.value.description = description.value;
    isEditing.value = false;
}


function createCampaign() {
    form.post(route('campaign.store'), {
        onSuccess: () => {
            form.reset();
            console.log("Success")
        }

    })
}
</script>

<template>
    <AuthenticatedLayout>
    <Head title="Campagne"/>

        <template v-slot:logo>
            <div class="col1">
                <img src="../../../../public/img/logo_white.png" alt="" class="logoo">

            </div>
        </template>
        <Modal @close="selectedMaterial = null" :show="selectedMaterial !== null">
            <template v-slot:default>
                <div class="selectedMaterial" v-if="selectedMaterial">
                    <div class="desc">
                        <p class="materialtitre">Matériel : {{ selectedMaterial.modele.name }}</p>
                        <p v-if="!isEditing">Description du matériel : {{ selectedMaterial.description }}</p>
                        <input v-else v-model="description" type="text" />
                    </div>
                    <div class="divbtn">
                        <PrimaryButton class="marge" v-if="!isEditing" @click="editDescription">Modifier</PrimaryButton>
                        <PrimaryButton class="marge" v-else @click="saveDescription">Enregistrer</PrimaryButton>
                        <PrimaryButton class="margered" @click="selectedMaterial = null">Fermer</PrimaryButton>
                    </div>
                </div>
            </template>
        </Modal>

        <div class="container">
            <form class="form" @submit.prevent="createCampaign">
                <div class="form-content">
                    <p class="titre">Création de campagne</p>
                    <p class="titre">Veuillez renseigner les informations nécéssaire à la création de campagne :</p>

                    <label for="">Titre de la Campagne :</label>
                    <TextInput class="titre" type="text" placeholder="" v-model="form.name" />
                    <div v-if="form.errors.name" class="error">{{ form.errors.name }}</div>

                    <div class="date">
                        <div class="blocdate">
                            <label for="">Date de début :</label>
                            <TextInput type="date" v-model="form.date_start" />
                            <div v-if="form.errors.date_start" class="error">{{ form.errors.date_start }}</div>
                        </div>
                        <div class="blocdate">
                            <label for="">Date de fin :</label>

                            <TextInput type="date" v-model="form.date_end" />
                            <div v-if="form.errors.date_end" class="error">{{ form.errors.date_end }}</div>
                        </div>
                    </div>

                    <br>

                    <div class="dropdown-wrapper">
                        <div class="site">
                            <label for="dropdown">Sélectionnez un site</label>
                            <select v-model="form.selectedSite" class="dropdown">
                                <option v-for="site in sites" :key="site.id" :value="site">{{ site.name }}</option>
                            </select>
                        </div>

                        <div v-if="form.selectedSite" class="selected-site">
                            <p>Matériels associés :</p>
                            <table class="material-table">
                                <thead>
                                    <tr>
                                        <th>Nom du matériel</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="material in form.selectedSite.material" :key="material.id">
                                        <td>{{ material.modele.name }}</td>
                                        <td>{{ material.description }}</td>
                                        <td><button class="button" @click.prevent="selectedMaterial = material">Modifier
                                                description</button></td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br>
                    <PrimaryButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Créer
                    </PrimaryButton>
                    <div v-if="$page.props.flash.success" class="alert alert-success">

                        {{ $page.props.flash.success }}
                    </div>
                </div>
            </form>

        </div>
    </AuthenticatedLayout>
</template>
  
<style>
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 7rem;
}
.materialtitre {
    margin: 1rem;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divbtn {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.marge, .margered {
    margin: 1rem;
}

.margered {
    background-color: rgb(217, 4, 4);
}


.margered:hover {
    background-color: rgba(217, 4, 4, 0.532);
}


.date {
    display: flex;
}

.blocdate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}



.site {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    max-width: 800px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form .titre {
    margin-bottom: 20px;
}

.form .date {
    margin-bottom: 10px;
}

.form select.dropdown {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form .selected-site {
    margin-bottom: 10px;
    align-items: center;
}


.form .material-table th,
.form .material-table td {
    padding: 8px;
    border: 1px solid #ccc;
}

.form .material-table th {
    font-weight: bold;
    text-align: left;
}

.form .error {
    color: red;
    font-size: 14px;

}

thead {
    text-align: center;
}

.alert {
    padding: 10px;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.logoo {
    width: 50%;
}

.button {
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.button:hover {

    background-color: #0000009c;

}</style>
<style>
.logoo {
    width: 50%;
}

.text{
  color: #fff;
}

.bg-white {
  background-color: #898585;
}

.btn {
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

</style>
  