<script setup lang="ts">



import axios from 'axios';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';


const props = defineProps<{
  campaigns: any[];
  role:any[];
}>();

const updateCampaignStatus = async (campaign) => {
  try {
    const response = await axios.put(`/campaign/${campaign.id}/updateStatus`, {
      status: campaign.status,
    });
    console.log(response.data); // Affichez la réponse du backend si nécessaire
  } catch (error) {
    console.error(error);
  }
};



</script>

<template>
  <AuthenticatedLayout>
    <Head title="Campagne" />

    <template v-slot:logo>
      <div class="col1">
        <img src="../../../../public/img/logo_white.png" alt="" class="logoo">

      </div>
    </template>
    <div class="general">
    <!-- <h2>Liste des campagnes</h2> -->
    <div class="titre">
      <h1>Liste des campagnes</h1>
    </div>
    <div v-if="role.find(r => r.role == 'Chef de Projet')" class="creation">
      <div>
        Besoin de créer une nouvelle campagne ?
      </div>
      <div >
        <a class="btn" href="/campaign/create"> Créer </a>
      </div>
    </div>
    <div class="tableau">
      <div>
        <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Date de début</th>
              <th>Date de fin</th>
              <!-- <th>Statut</th> -->
              <th>Createur</th>
              <th>Auditeur</th>
              <th v-if="role.find(r => r.role == 'Chef de Projet')">Actions</th>
              <th>status</th>
              

            </tr>
          </thead>
          <tbody>
            <!-- <tr v-for="campaign in campaigns" :key="campaign.id"> -->
            <tr v-for="campaign in campaigns" :key="campaign.id"
              :class="{ 'table-row--completed': campaign.status === 'terminée' } "  >
             <td>{{ campaign.name }} </td>
              <td>{{ campaign.date_start }}</td>
              <td>{{ campaign.date_end }}</td>
              <!-- <td>{{ campaign.status }}</td> -->
              <!-- <td>{{ campaign.creator_id }}</td> -->
              <td>{{ campaign.creator.name }}</td>
              <td v-if="campaign.auditor_id !== null"> {{ campaign.auditor.name }}</td>
              <td v-else> Aucun audit réalisé</td>
              <td v-if="role.find(r => r.role == 'Chef de Projet')">



                <select v-model="campaign.status" @change="updateCampaignStatus(campaign)">
                  <option value="en cours">En cours</option>
                  <option value="terminée">Terminée non synchronisée</option>
                  <option value="cloturé">Cloturée</option>
                </select>
              </td>
              <td> {{ campaign.status }}</td>
              <td> <a class="btn" :href="route('campaign.show', { campaign: campaign })">Acceder</a> </td>
              
            </tr>
          </tbody>
        </table>
      </div>
       </div>
      </div>
</AuthenticatedLayout>
</template>



<style scoped>
.general {
  padding: 2rem;
}
.titre {
  border: solid 1px #898585;
  color: #898585;
  margin: 2rem;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-transform: uppercase;
}
.creation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem ;
}
.tableau {
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;

}
.form1 {
  padding: 1%;
}

.alert {
  padding: 10px;
  border-radius: 4px;
}
.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
.alert-error {
  background-color: #edd4d4;
  border-color: #e6c3c4;
  color: #a80011;
}
table {
  width: 100%;
  border-collapse: collapse;

}



th {
  background-color: #898585;
  color:  white;
  padding: 8px;
  text-align: center;
  font-size: 700;
  text-transform: uppercase;

}

td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;

}

tr:hover {
  background-color: rgb(183, 183, 183);
 
}

h1 {
  text-align: center;
  font-size: 40px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-row--completed {
  background-color: rgb(16, 209, 16);
  /* Autres styles de mise en forme */
}


a {
  width: 100vh
}


</style>

<style>
.logoo {
    width: 50%;
}

.text{
  color: #fff;
}

.bg-white {
  background-color: #898585;
}

.btn {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

</style>

