<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, Link } from '@inertiajs/vue3';
</script>

<template>
    <AuthenticatedLayout>
        <Head title="Accueil" />

        <template v-slot:logo>
            <div class="col1">
                <img src="../../../public/img/logo.png" alt="" class="logoo">
            </div>
        </template>

        <div class="general">
            <a :href="route('piece.index')">
            <div class="col">
                <div>Référentiel piece</div>
                <div><img src="../../../public//img/icones/piece_csv.png" alt=""></div>
                <div> Importer votre CSV pièce</div>
            </div>
            </a>
            <a href="/material">
            <div class="col">
                <div>Référentiel matériel</div>
                <div><img src="../../../public/img/icones/material_csv.png" alt=""></div>
                <div> Importer votre CSV matériel</div>
            </div>
            </a>
            <a href="/campaign">
            <div class="col">
                <div>Campagne</div>
                <div><img src="../../../public/img/icones/Campaign.png" alt=""></div>
                <div> Liste des différentes campagnes</div>
            </div>
            </a>
            <a href="/campaign/create">
            <div class="col">
                <div>Création</div>
                <div><img src="../../../public/img/icones/Stat.png" alt=""></div>
                <div> Crée une campagne</div>
            </div>
            </a>


        </div>
    </AuthenticatedLayout>
</template>
<style>
.text{
    color: #000;
}
.shrink-0{
    color: #000;
}
.logoo {
    width: 50%;
}

.bg-white {
    background-color: #ffffff;
}

.btn {
    background-color: #fff;
}

.general {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2Rem;
    margin: 1rem;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);

    text-transform: uppercase;
    font-weight: 700;
    background-color: white;
}

.col:hover {
    transform: scale(1.10);

}
</style>
