<script setup>
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import { Link } from '@inertiajs/vue3';
</script>

<template>
    <div class="general">
        <div class="col1">
            <img class="tablette" src="../../../public/img/accueil.jpg" alt="">
        </div>
        <div class="col2">
            <div>
            <a href="/login">
                <ApplicationLogo/>
            </a>
        </div>
            <slot />

        </div>
    </div>
    <!-- <div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100">


        <div
            class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg"
        >
            <slot />
        </div>
    </div> -->
</template>
<style scoped>
.general{
    display: flex;
}
.col1{
    display: flex;
    justify-content: center;
}
.col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}
.tablette {
   height: 100vh;
   width: 115vh;
   box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.2);

}

</style>
