<script setup lang="ts">

import PrimaryButton from '@/Components/PrimaryButton.vue';
import { useForm } from '@inertiajs/vue3';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';


const form = useForm({
  csv: null
})
const props = defineProps<{
  users: any[];
  roles: any[];
}>();


</script>
<template>
  <AuthenticatedLayout>

    <template v-slot:logo>
      <div class="col1">
        <img src="../../../../public/img/logo_white.png" alt="" class="logoo">

      </div>
    </template>
    <div class="div">
      <div>
        <div class="title">

          <h1>LISTE DES UTILISATEURS</h1>
        </div>
        <form @submit.prevent="form.post(route('user.importcsv'))" class="csv-form">
          <input type="file" id="csv" @input="form.csv = $event.target.files[0]" class="csv-input" />
          <PrimaryButton :disabled="form.processing" class="csv-button">Enregistrer le CSV</PrimaryButton>
        </form>
        
        <div v-show="$page.props.flash.success" class="alert alert-success">
  
          {{ $page.props.flash.success }}
        </div>
  
        <div v-if="$page.props.flash.error" class="alert alert-error">
  
          {{ $page.props.flash.error }}
        </div>
      </div>
      
      <div class="container">
        <table class="user-table">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Rôle</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="u in users" :key="u.id">
              <td>{{ u.name }}</td>
              <td>
                <ul class="role-list">
                  <li v-for="r in u.roles" :key="r.id">{{ r.role }}</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </AuthenticatedLayout>
</template>
  
<style scoped>
.title {
  width: 100vw;
  margin-bottom: 2%;
}

.title h1 {
  font-size: 40px;
  color: rgb(55, 122, 149);
  border: solid 3px rgb(55, 122, 149);
  width: 90vw;
  text-align: center;
  margin-top: 3%;
}

.csv-form {
  margin-bottom: 2%;
}

.csv-button {
  background-color: rgb(55, 122, 149);
}


table {
  width: 98vw;

}


th {
  padding: 5px;
  background-color: rgb(55, 122, 149);
  color: #fff;
}

td {
  border: solid 1px #00000025;
  height: 5%;
  padding: 10px;
}


.role-list {
  display: flex;
}

.role-list li {
  margin-left: 1%;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  width: 98vw;
  padding: 1%;

}

.alert-error {
  background-color: #edd4d4;
  border-color: #e6c3c4;
  color: #a80011;
  width: 98vw;
  padding: 1%;

}

</style>


<style>
/**Authenticated-layout */

.logoo {
  width: 50%;
}

.text {
  color: #fff;
}

.bg-white {
  background-color: rgb(55, 122, 149);
}

.btn {
  padding: 8px 16px;
  background-color: rgb(55, 122, 149);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.color-out {
  color: #fff;
}
</style>
